<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>

    <nav id="menu">
        {% block menu %}
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/guestbook">Guestbook</a></li>
        </ul>
        {% endblock %}
    </nav>
    
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <p>Please contact us if you have any questions.</p>
        {% endblock %}
    </div>
</body>
</html>